extends ./main

block sub_script
  script(src='/static/js/home-index.js')

block sub_content
  div.content-right
    div.module
      div.module-title 分类列表
      ul#categoryListRightBanner.category-list.padding-15(data-user_id=user.id)
        li 加载中...
  div.content-left
    div.module
      div.module-title
        span 文章列表
        button.button.button-plain.select-button.pull-right(style='margin:4px;') 默认排序
      ul.post-list
        -for(var i=0;i<postList.length;i++)
          -var time = new Date(postList[i].create_time);
          -var timeStr = time.getFullYear()+'/'+(time.getMonth()+1)+'/'+time.getDate();
          li.post-item
            div.post-title(style="display:flex;")
              a(style="flex:1;",href='/article/'+postList[i].id) #{postList[i].title}
              a.margin-r-10(href='/article/modify/'+postList[i].id)
                i.icon-pencil &nbsp;
                span 编辑
              a.articleDeleteBtn(href='javascript:void(0);', data-id=postList[i].id)
                i.icon-trash &nbsp;
                span 删除
            div.post-content #{postList[i].content.replace(/<\/?[^>]*>/g,"")}
            div.post-img
            div
              span.post-time #{timeStr}
              span.post-view-count 浏览 #{postList[i].views}
              span.dropdownWrap.pull-right
                a.dropdownBtn(href='javascript:void(0);')
                  i.icon-cog &nbsp;
                  span 操作
                div.dropdownList.bg-white(style='display:none;position:absolute;right:0px;z-index:998;')
                  ul.dropdownMenu
                    li
                      a.articleCategoryBtn(href='javascript:void(0);', data-id=postList[i].id) 分类
                    li
                      a.articleTagBtn(href='javascript:void(0);', data-id=postList[i].id) 标签
    div.paging
      -for(var i=0;i<page['count'];i++)
        -if(i==page['num']-1)
          span #{i+1}
        -else
          a(href='/home/index?p='+(i+1)) #{i+1}
    div#modifyCategoryModal.modal-wrap(style="display:none;")
      div.closeBtn.pull-right close
      div.modal-inner(style="max-width:350px;")
        div.module
          div.module-title 分类
          div.padding-15
            ul#categorySelect.category-list(data-user_id=user.id)
              li.category-item.selected(data-id=0) 默认分类
            div
              span.modalMsg
          div.modal-btns.padding-15
            button#submitCategory.button.button-blue.margin-r-10 确定
            button.modalCloseBtn.button.button-blue 取消
